In [2]:
import pandas as pd

In [3]:
d = pd.read_csv("data/ap_train.txt.gz", sep="\t", compression="gzip", encoding="latin-1", error_bad_lines=False,
               dtype={"age_gr": str, "ev_code": str, "mtype_sec": str, "event_id": str})

b'Skipping line 3845120: expected 21 fields, saw 22\n'
b'Skipping line 4162496: expected 21 fields, saw 22\n'
b'Skipping line 9413204: expected 21 fields, saw 22\n'
b'Skipping line 10713478: expected 21 fields, saw 22\n'
b'Skipping line 14173825: expected 21 fields, saw 22\n'
b'Skipping line 16366489: expected 21 fields, saw 22\n'
b'Skipping line 17188358: expected 21 fields, saw 22\n'
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
d.head()

,cust_id,name,surname,dob_y,dob_m,dob_d,acc_y,mj_tnum,perf_y,perf_m,...,purch_m,paid_tix,free_tix,paid,event_id,mtype_sec,ev_code,age_tp,age_ta,age_gr
0,20597388,ben,hudson,1972,4,15,2015,25721,2015,7,...,5,2,0.0,204.90,317286,70SROCK,EJUC2015816,43,43,40-44
1,8946674,lucy,menzies,1975,11,30,2008,15865,2013,3,...,3,2,0.0,124.70,239221,SCHOOL,EJUP2013673,38,33,35-39
2,8328278,melanie,medley,1982,12,29,2007,5546,2013,12,...,12,2,0.0,225.55,249332,CRICKET,EMCV2013979,31,25,30-34
3,16154861,padraic,brennan,1985,7,31,2012,37029,2013,6,...,2,1,0.0,51.20,217091,RUNION,ERUG2013775,28,27,25-29
4,16570733,paul,eckermann,1982,6,22,2013,15906865,2017,4,...,3,3,0.0,120.00,364780,AFL,EMCT2017725,35,31,35-39

In [5]:
d[["age_gr","mj_tnum"]].groupby("age_gr").count()

        mj_tnum
age_gr
00-17    196863
18-24   2804979
25-29   2766673
30-34   2494228
35-39   2352197
40-44   2475201
45-49   2253870
50-54   1708852
55-59   1080676
60-64    653890
65-69    387807
70-74    168482
75-84     67099

In [6]:
d[["age_gr","paid_tix"]].groupby("age_gr").sum()

        paid_tix
age_gr
00-17     389971
18-24    5998575
25-29    6471712
30-34    6144153
35-39    6069936
40-44    6497758
45-49    5703039
50-54    4086423
55-59    2459026
60-64    1425619
65-69     808549
70-74     329147
75-84     124935

In [7]:
ap = pd.read_csv("data/aus_population_by_age_abs_092016.txt")

In [8]:
ap

   age_gr    males  females  ratio_mf
0   00-17  2777503  2633798      1.05
1   18-24  1176559  1115036      1.06
2   25-29   893426   887711      1.01
3   30-34   890258   894582      1.00
4   35-39   803442   808566      0.99
5   40-44   802585   818156      0.98
6   45-49   795049   814148      0.98
7   50-54   760975   781658      0.97
8   55-59   726328   752616      0.97
9   60-64   644915   668699      0.96
10  65-69   583778   600717      0.97
11  70-74   439239   459731      0.96
12  75-84   517286   597524      0.87
13    85+   179629   304962      0.59

In [9]:
ds = d.iloc[:20,:]

In [10]:
ds

,cust_id,name,surname,dob_y,dob_m,dob_d,acc_y,mj_tnum,perf_y,perf_m,...,purch_m,paid_tix,free_tix,paid,event_id,mtype_sec,ev_code,age_tp,age_ta,age_gr
0,20597388,ben,hudson,1972,4,15,2015,25721,2015,7,...,5,2,0.0,204.90,317286,70SROCK,EJUC2015816,43,43,40-44
1,8946674,lucy,menzies,1975,11,30,2008,15865,2013,3,...,3,2,0.0,124.70,239221,SCHOOL,EJUP2013673,38,33,35-39
2,8328278,melanie,medley,1982,12,29,2007,5546,2013,12,...,12,2,0.0,225.55,249332,CRICKET,EMCV2013979,31,25,30-34
3,16154861,padraic,brennan,1985,7,31,2012,37029,2013,6,...,2,1,0.0,51.20,217091,RUNION,ERUG2013775,28,27,25-29
4,16570733,paul,eckermann,1982,6,22,2013,15906865,2017,4,...,3,3,0.0,120.00,364780,AFL,EMCT2017725,35,31,35-39
5,13164789,nicholas,andrioff,1976,10,25,2010,53358,2015,9,...,9,2,0.0,86.65,318988,AFL,EMAF0000151A,39,34,35-39
6,22852855,carley,nelson,1987,10,11,2016,75029,2017,7,...,2,4,0.0,247.65,364365,KIDLIVE,EVFA2017799M,30,29,30-34
7,15145974,vernetta,taylor,1975,3,26,2012,62424,2012,7,...,3,4,0.0,226.95,203974,KIDLIVE,EVFA2012796M,37,37,35-39
8,9886848,michael,paragreen,1988,6,9,2008,55157,2017,4,...,3,2,0.0,64.95,372704,COMEDY,EFCS2017720AZ,29,20,25-29
9,17962912,anahita,jebeli-javan,1985,5,26,2014,400,2014,3,...,2,2,0.0,144.95,256967,CARRACE,ECRE2014672GA,29,29,25-29
10,24788827,shane,denning,1987,6,11,2017,16886487,2017,4,...,4,0,0.0,0.00,372504,LEAGUE,EEEL0000017C,30,30,30-34
11,20137472,ashlei,goode,1979,3,19,2015,17124574,2017,10,...,4,0,0.0,6.90,383298,CARRACE,EAUS2017909MJ,38,36,35-39
12,6403500,glenn,abbey,1978,9,23,2006,5819,2012,4,...,3,4,0.0,295.60,206197,POP,EHOR2012709M,34,28,30-34
13,13756920,tenille,hannah,1986,11,30,2011,38404,2012,11,...,10,2,0.0,308.30,214821,ROCK,ESSD2012944,26,25,25-29
14,8596651,panagiota,gates,1970,5,2,2007,9780,2012,11,...,5,4,0.0,602.20,213000,ROCK,ECOA2012938,42,37,40-44
15,16871931,john,spence,1964,5,22,2013,6333,2013,8,...,6,2,0.0,366.70,245788,RUNION,EARU2013841,49,49,45-49
16,11456884,weng,liew,1980,6,15,2009,747,2013,12,...,5,2,0.0,217.20,247443,POP,ECOA2013956,33,29,30-34
17,16752285,louise,ogilvie,1989,6,15,2013,38511,2013,12,...,5,2,0.0,224.40,247443,POP,ECOA2013956,24,24,18-24
18,10559781,carmine,iannelli,1979,4,5,2009,37464,2013,6,...,2,2,0.0,313.30,228440,POP,EWPA2013788,34,30,30-34
19,12559997,fatima,salinas,1982,1,2,2010,74849,2012,11,...,10,-2,0.0,-310.95,202204,80SPOP,ERLA2012941,30,28,30-34

In [34]:
d1 = ds[["cust_id","mtype_sec","paid_tix"]].groupby(["cust_id","mtype_sec"]).agg(["count","sum"])
d1.columns = ["_".join(col_tpl) for col_tpl in d1.columns.values]
d1["paid_for"] = pd.Series([tpl[1] for tpl in d1.index.values], index=d1.index, dtype=str)
d1

                    paid_tix_count  paid_tix_sum paid_for
cust_id  mtype_sec
6403500  POP                     1             4      POP
8328278  CRICKET                 1             2  CRICKET
8596651  ROCK                    1             4     ROCK
8946674  SCHOOL                  1             2   SCHOOL
9886848  COMEDY                  1             2   COMEDY
10559781 POP                     1             2      POP
11456884 POP                     1             2      POP
12559997 80SPOP                  1            -2   80SPOP
13164789 AFL                     1             2      AFL
13756920 ROCK                    1             2     ROCK
15145974 KIDLIVE                 1             4  KIDLIVE
16154861 RUNION                  1             1   RUNION
16570733 AFL                     1             3      AFL
16752285 POP                     1             2      POP
16871931 RUNION                  1             2   RUNION
17962912 CARRACE                 1             2  CARRACE
20137472 CARRACE                 1             0  CARRACE
20597388 70SROCK                 1             2  70SROCK
22852855 KIDLIVE                 1             4  KIDLIVE
24788827 LEAGUE                  1             0   LEAGUE

In [13]:
d1.columns.values

MultiIndex(levels=[['paid_tix'], ['count', 'sum']],
           labels=[[0, 0], [0, 1]])

In [14]:
d1.columns.values

array([('paid_tix', 'count'), ('paid_tix', 'sum')], dtype=object)

In [15]:
["_".join(col_tpl) for col_tpl in d1.columns.values]

['paid_tix_count', 'paid_tix_sum']

In [31]:
d1.index.values

array([(6403500, 'POP'), (8328278, 'CRICKET'), (8596651, 'ROCK'),
       (8946674, 'SCHOOL'), (9886848, 'COMEDY'), (10559781, 'POP'),
       (11456884, 'POP'), (12559997, '80SPOP'), (13164789, 'AFL'),
       (13756920, 'ROCK'), (15145974, 'KIDLIVE'), (16154861, 'RUNION'),
       (16570733, 'AFL'), (16752285, 'POP'), (16871931, 'RUNION'),
       (17962912, 'CARRACE'), (20137472, 'CARRACE'), (20597388, '70SROCK'),
       (22852855, 'KIDLIVE'), (24788827, 'LEAGUE')], dtype=object)

In [17]:
d1.index.get_level_values(1)

Index(['POP', 'CRICKET', 'ROCK', 'SCHOOL', 'COMEDY', 'POP', 'POP', '80SPOP',
       'AFL', 'ROCK', 'KIDLIVE', 'RUNION', 'AFL', 'POP', 'RUNION', 'CARRACE',
       'CARRACE', '70SROCK', 'KIDLIVE', 'LEAGUE'],
      dtype='object', name='mtype_sec')

In [24]:
d1.iloc[2]

paid_tix_count    1
paid_tix_sum      4
Name: (8596651, ROCK), dtype: int64