In [8]:
import pandas as pd
import time

In [46]:
d = pd.read_csv("data/ap_train3.csv.gz", sep="\t", compression="gzip", encoding="latin-1", error_bad_lines=False,
               dtype={"age_gr": str, "ev_code": str, "mtype_sec": str, "event_id": str})

b'Skipping line 2787868: expected 21 fields, saw 22\n'
b'Skipping line 3088276: expected 21 fields, saw 22\n'
b'Skipping line 3806032: expected 21 fields, saw 22\n'
b'Skipping line 8205157: expected 21 fields, saw 22\n'
b'Skipping line 9417568: expected 21 fields, saw 22\n'
b'Skipping line 13888143: expected 21 fields, saw 22\n'
b'Skipping line 15521543: expected 21 fields, saw 22\n'
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [47]:
print("transactions: {}, unique customers: {}".format(len(d), d.cust_id.nunique()))

transactions: 18609026, unique customers: 5684184

In [48]:
d.head()

,cust_id,name,surname,dob_y,dob_m,dob_d,acc_y,mj_tnum,perf_y,perf_m,...,purch_m,paid_tix,free_tix,paid,event_id,mtype_sec,ev_code,age_tp,age_ta,age_gr
0,10995205,peter,coumbiadis,1974,9,2,2009,8813,2015,8,...,8,2,0.0,54.40,281282,LEAGUE,EOKI0000015D,41,35,40-44
1,12663067,emily,payne,1980,8,16,2010,40865,2015,4,...,4,1,0.0,31.50,279088,SOCCER,EMVC2015706,35,30,35-39
2,13852676,renee,blandin de chalain,1989,5,10,2011,92757,2014,9,...,9,3,0.0,140.50,279738,AFL,ESSW0000014QF,25,22,25-29
3,3735954,melanie,pring,1990,4,9,2003,25650,2014,9,...,9,2,0.0,120.35,279738,AFL,ESSW0000014QF,24,13,18-24
4,16576858,trish,simunovic,1971,11,28,2013,84,2014,10,...,10,4,0.0,109.95,281309,SOCCER,ECMR2014906,43,42,40-44

In [49]:
d = d.loc[d.age_gr.notnull(),:]

In [ ]:
d.to_csv("training_data.csv.gz", index=False, compression="gzip")

In [24]:
d1 = pd.get_dummies(d[["mtype_sec","age_gr"]], columns=["mtype_sec"])
d1.head()

,age_gr,mtype_sec_5060S,mtype_sec_70SPOP,mtype_sec_70SROCK,mtype_sec_80SPOP,mtype_sec_80SROCK,mtype_sec_90SPOP,mtype_sec_90SROCK,mtype_sec_AFL,mtype_sec_ALTERN,...,mtype_sec_RNB,mtype_sec_ROCK,mtype_sec_RUNION,mtype_sec_SCHOOL,mtype_sec_SENIOR,mtype_sec_SFCOMEDY,mtype_sec_SFMUSIC,mtype_sec_SOCCER,mtype_sec_STANDUPC,mtype_sec_TENNIS
0,40-44,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,35-39,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,25-29,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,18-24,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,40-44,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [18]:
d1.head()

,paid_for_5060S,paid_for_70SPOP,paid_for_70SROCK,paid_for_80SPOP,paid_for_80SROCK,paid_for_90SPOP,paid_for_90SROCK,paid_for_AFL,paid_for_ALTERN,paid_for_AWARDS,...,paid_for_RNB,paid_for_ROCK,paid_for_RUNION,paid_for_SCHOOL,paid_for_SENIOR,paid_for_SFCOMEDY,paid_for_SFMUSIC,paid_for_SOCCER,paid_for_STANDUPC,paid_for_TENNIS
mj_tnum,,,,,,,,,,,,,,,,,,,,,
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
d1.shape

(5608696, 45)

In [ ]:
d1 = d1.join(d.set_index("mj_tnum")["age_gr"], how="left")

In [11]:
d1.head()

,paid_tix_count,paid_tix_sum,paid_for_5060S,paid_for_70SPOP,paid_for_70SROCK,paid_for_80SPOP,paid_for_80SROCK,paid_for_90SPOP,paid_for_90SROCK,paid_for_AFL,...,paid_for_ROCK,paid_for_RUNION,paid_for_SCHOOL,paid_for_SENIOR,paid_for_SFCOMEDY,paid_for_SFMUSIC,paid_for_SOCCER,paid_for_STANDUPC,paid_for_TENNIS,age_gr
cust_id,,,,,,,,,,,,,,,,,,,,,
11168,1,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,50-54
11171,1,2,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,50-54
11179,5,22,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,60-64
11179,5,22,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,60-64
11179,5,22,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,60-64

In [25]:
d1.shape

(18672441, 46)

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn.preprocessing import LabelEncoder

In [27]:
le = LabelEncoder()

In [28]:
d1["age_gr"].unique()

array(['40-44', '35-39', '25-29', '18-24', '30-34', '60-64', '45-49',
       '50-54', '55-59', '00-17', '75-84', '70-74', '65-69'], dtype=object)

In [29]:
le.fit(d1["age_gr"])

LabelEncoder()

In [30]:
le.classes_

array(['00-17', '18-24', '25-29', '30-34', '35-39', '40-44', '45-49',
       '50-54', '55-59', '60-64', '65-69', '70-74', '75-84'], dtype=object)

In [31]:
X_train, X_test, y_train, y_test = train_test_split(d1.drop("age_gr", axis=1), d1["age_gr"], 
                                                    test_size=0.3, random_state=94, stratify=d1["age_gr"])

In [40]:
gnb = BernoulliNB()
gnb.fit(X_train, y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [44]:
y_test.unique()

array(['18-24', '45-49', '30-34', '35-39', '60-64', '25-29', '40-44',
       '65-69', '50-54', '00-17', '55-59', '70-74', '75-84'], dtype=object)

In [45]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
print("accuracy: {:.3f}".format(accuracy_score(y_test, gnb.predict(X_test))))
scores = cross_val_score(gnb, X_train, y_train, cv=5)

accuracy: 0.181

In [11]:


# t0 = time.time()
# d1 = d[["mj_tnum","mtype_sec","paid_tix"]].groupby(["mj_tnum","mtype_sec"]).agg(["count","sum"])
# d1.columns = ["_".join(col_tpl) for col_tpl in d1.columns.values]
# d1["paid_for"] = pd.Series([tpl[1] for tpl in d1.index.values], index=d1.index, dtype=str)
# d1 = pd.get_dummies(d1)
# d1.index = d1.index.droplevel(1)
# d1 = d1.drop(["paid_tix_count","paid_tix_sum"], axis=1)
# t1 = time.time()
# print("elapsed time: {:.0f} m {:.0f} s".format(*divmod(t1-t0,60)))